/* use specificly font then you should bring them in css */
@font-face { font-family: Montserrat-Bold; src: url('../fonts/Montserrat-Bold.ttf'); } 
@font-face { font-family: Montserrat-Regular; src: url('../fonts/Montserrat-Regular.ttf'); } 
@font-face { font-family: Montserrat-Thin; src: url('../fonts/Montserrat-Thin.ttf'); } 

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #f7f7ff;
}

body {
    margin: 0px;
}

.apply {
    border: 1px solid white;
    border-radius: 30px;
    box-shadow: 10px 10px 20px 5px grey;
    padding: 25px 25px;
    background-color: white;
}

input:not([name='agreement']):not([name='hours']):not([name='city']) {
    width: 100%;
    padding: 15px 0px 15px 10px;
    border-radius: 10px;
    border: 0px;
    background-color:#f4f4f5;
    margin: 5px 0px;
    font-size: 15px;
}

.apply-form-section {
    padding: 0px 10px 0px 0px;
}

h1{
    font-size: 56px;
    margin: 0px;
    padding-bottom: 5px;
    color: #333131;
}

h2 {
    font-size: 38px;
    margin: 0px;
    padding-bottom: 0px;
    color: #333131;
}

h3 {
    font-size: 15px;
    margin: 0px;
}

.container .p0 {
    font-size: 18px;
    color: #333131;
    margin-bottom: 0px;
}

.container .p1 {
    font-size: 18px;
    margin-top: 10px;
}

.container .p1-desktop{
    display: none;
}

.p2{
    font-size: 14px;
    display: inline-block;
    margin: 0px 0px;
    vertical-align: middle;
    padding-bottom: 15px;
}

.container .p3 {
    font-size: 12px;
    text-align: center;
}

span.red {
    color: #ff8480;
    font-size: 13px;
}

.container .p4 {
    font-size: 12px;
    text-align: left;
}

.agreement {
    margin-top: 8px;
    width: 20px;
    height: 20px;
}

button.drive {
    background-color: #57eeab;
    border-radius: 8px;
    padding: 10px;
    border: 0px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color:#333131;
}

button.calculate {
    border-radius: 8px;
    border: 0px;
    padding: 5px 20px;
    background-color: #ff8480;
    color: white;
    font-size: 20px;
    width: auto;
    display: inline-block;
}

svg {
    margin: 8vw 4vw;
    display: inline;
    text-align: center;
}

.icon {
    text-align: center;
}

.application-status p {
    font-size: 15px;
}

.two {
    background-color: #fffd8c;
    padding: 20px 30px;
}


/*****************************************
                    mobile
*****************************************/
/* use @media to apply the following code to the rest of the code */
/* when the screen size is less than 599px wide, set all of items that include main braces */
@media only screen and (max-width: 599px) {

    .one{
        padding: 10px 40px 40px 40px;
    }
    
    .mobile-logo {
        display: inline;
        width: 30%;
        height: 30%;
    }

    .tablet-logo,
    .desktop-logo {
        display: none;
    }

    .container .p1 {
        font-size: 15px;
        margin: 8px 0px 5px 0px;
    }
    
    .container .p3 {
        text-align: left;
    }

/* use flex because the background image has to change the position in different size */
    .stack-1 {
        display: flex;
        flex-direction: column;
    }

    .stack-1 .container:nth-child(2) {
        margin-bottom: 20px;
    }

    .apply {
        border: 1px solid white;
        border-radius: 30px;
        box-shadow: 10px 10px 20px 5px grey;
        padding: 10px 20px;
        background-color: white;
    }
/* use grid to change the position items: hours, city and calculate botton in mobile size*/
    .hours-city-calculate {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }
   
    .hours {
        min-width: 0; 
        grid-column: 1 / span 1;
    }

    .city {
        min-width: 0;
        grid-column: 2 / 6;
    }

    .calculate {
        min-width: 0;
        grid-column: 1 / 6;
    }

    .footer #hours {
        border-radius: 8px;
        border: 0px;
        background-color: #f7f7ff;
        margin-left: 0px;
        padding: 5px 5px;
        font-size: 100%;
    }

    .footer #city {
        border-radius: 8px;
        border: 0px;
        background-color: #f7f7ff;
        margin-left: 0px;
        margin-right: 0px;
        padding: 5px 5px;
        font-size: 100%;
    }

    .facebook{
        border-radius: 14px
    }

}


/*****************************************
                    Tablet
*****************************************/

/* when the screen size is betweeen 600pc and 780px, set all of items that include main braces */
@media only screen and (min-width: 600px) and (max-width: 768px) {

    .one{
        padding: 10px 80px 80px 80px;
    }

    .tablet-logo {
        display: inline;
        width: 20%;
        height: 20%;
    }

    .desktop-logo,
    .mobile-logo {
        display: none;
    }

    .bg-scooter {
        display: none;
    }

    h1 {
        font-size: 70px;
        padding-bottom: 0px;
    }

    h2 {
        font-size: 35px;
    }

    .container .p0 {
        padding-top: 10px;
    }

    .container .p1 {
        font-size: 25px;
        margin: 8px 0px 5px 0px;
    }
    
    .container .p4 {
        margin-top: 10px;
    }

    .stack-1 {
        display: flex;
        flex-direction: column;
    }

    .stack-1 .container:nth-child(1) {
        background: url(../images/bg-image/scooter.svg) no-repeat center;
        background-size: 75%;
        background-position: bottom;
        margin-bottom: 25px;
        height: 600px;
    }

    .hours-city-calculate {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
    }
 
    .hours {
        min-width: 0; 
        grid-column: 1 / span 1;
    }

    .city {
        min-width: 0;
        grid-column: 2 / span 3;
    }

    .calculate {
        min-width: 0;
        grid-column: 5 / span 2;
    }

    .footer #hours,
    .footer #city {
        border-radius: 8px;
        border: 0px;
        background-color: #f7f7ff;
        margin-left: 0px;
        padding: 5px 5px;
        font-size: 100%;
    }
    
    svg {
        margin: 20px;
    }

    .facebook{
        border-radius: 14px
    }
}

/***********************************************************
                    Desktop
**********************************************************/
/* when the screen size is more than 769px wide, set all of items that include main braces */
@media screen and (min-width: 769px) {

    .one {
        margin: 10px 70px 70px 70px;
    }

     /* display: inline-block is used to display list items horizontally instead of vertically */
    .desktop-logo {
        display: inline;
        width: 10%;
        height: 10%;
    }

    .tablet-logo,
    .mobile-logo {
        display: none;
    }

    .bg-scooter {
        display: none;
    }

    h1 {
        font-size: 50px;
        margin: 10% 0% 0% 0%;
        padding-bottom: 10px;
    }

    h2 {
        font-size: 25px;
    }

    .container .p0 {
        padding-top: 10px;
    }

    .container .p1-desktop {
        display: block;
        font-size: 18px;
        margin: 5px 0px 3px;
    }

    .container .p1{
        display: none;
    }

    .container .p3 {
        padding-top: 8px;
    }

    .stack-1 {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        background: url(../images/bg-image/scooter.svg) no-repeat center;
        background-size: 40%;
    }

    .stack-1 .container:nth-child(1) {
        flex-basis: calc(34%);
    }

    .stack-1 .container:nth-child(2) {
        flex-basis: calc(30%);
    }

    .stack-1 .container:nth-child(3) {
        flex-basis: calc(34%);
        margin-left: auto;
    }

    .stack-2 {
        display: flex;
        background-color: #fffd8c;
    }

    .stack-2 .container:nth-child(1) {
        flex-basis: calc(60%);
        margin-left: 70px;
    }

    .stack-2 .container:nth-child(2) {
        flex-basis: calc(40%);
        margin: auto;      
    }

    .footer #hours,
    .footer #city {
        border-radius: 8px;
        border: 0px;
        background-color: #f7f7ff;
        margin-right: 15px;
        padding: 8px;
        font-size: 100%;
    }

    div #hours {
        width: 10%;
        float: left;
    }

    div #city {
        width: 25%;
        float: left;
    }

    svg {
        margin: 12px;
    }

    .icon {
        text-align: right;
        margin: 0px;
    }
}