html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed, 
figure,
figcaption,
footer,
header,
hgroup, 
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure, 
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ********************************************************************************* */
/* ********************************************************************************* */

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
body {
    background:white;
    margin: 0px;
    }

main{
    padding: 0px;
    background: white;
    }


/***********************************************************
                        Mobile 
 **********************************************************/

ul li{
    width: 100%;
    line-height:200%;
    float: left;
  }

ul li a{
    background-color:  #333131;
    color: #f7f7ff;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display:        flex;
    flex-grow:      1;
    flex-shrink:    1;
    justify-content: center;
    white-space: nowrap;
  }

  ul li a:hover {
    background-color: #333131;
    color: #f7f7ff;
    font-weight: bold;
  }
  .container {
    margin: 0 auto;
    padding: 0em;
  }
  
  .container1 {
    margin: 0 auto;
    padding: 0em;
  }
  
  
  /* header */

  .mobile-logo, .tablet-logo {
    display: none;
  }

  .desktop-logo{
    text-decoration: none;
    display: inline-block;
    height: 70px;
    width: 70px;
    margin-left: 40px;
    
  }

  .logobackground {
    float: left;
  }

  .nav-list {
    display: grid;
    grid-template-areas: "B C D";
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(1, 70px);
    justify-content: right;
    justify-items: center;
    margin-right: 30px;
  }

  .home{
    grid-area: B;
    grid-row: 1;
  }

  .about{
    grid-area: C;
    grid-row: 1;
  }

  .contact{
    grid-area: D;
    grid-row: 1;
  }

  .nav-list li {
    border: none;
    align-self: center;
    margin: 10px; 
  }
  
header.main-nav{
    background:#333131;
}

.rapper h1{
font-size: 30px;
margin: 30px;
}

p{
  font-size: 18px;
  margin: 20px 30px;
  line-height: 32px;
}


.masthead{
    background:#333131;
}

.container{
    margin: 0px;
}

.construction{
  margin: auto;
  width: 100%;
}

/* .about{
  background-color: lightblue;
  object-fit: cover;
  width: 100%;
  height: 300px;
  margin: 30px 0%;
  }

.about-text{
  display: block;
  background-color: lightblue;
} */

.intro1{
  background: url(../images/about.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 300px;
  margin: 30px 0%;

  }
  .rapper1{
    background-color: rgba(14, 138, 45, 0.582);
    width: 100%;
    height: 300px;
    }

.intro1 h1{
  text-align: center;
  color: #f7f7ff;
  vertical-align: baseline;
  padding-top: 150px;
  opacity: 1;
  }

h2{
  font-size: 30px;
  margin-bottom: 15px;
}

.info{
  margin: 0px 30px;
}

/* .info h2{
  margin: 0px 30px;
} */

.Services{
  background: url(../images/services.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 300px;
  margin: 30px 0%;

  }
  .rapper2{
    background-color: rgba(14, 138, 45, 0.582);
    width: 100%;
    height: 300px;
    }

.Services h1{
  text-align: center;
  color: #f7f7ff;
  vertical-align: baseline;
  padding-top: 150px;
  opacity: 1;
  }

.bar, .fitness, .climbing {
  display: none;
}

h2, h3{
  margin: 0px 30px;
  
}

h3{
  font-size: 22px;
}

h3{
  margin-top: 20px;
  margin-bottom: 0px;
  color: #26A682;
}

.keep-up{
  background-color: #3C3B3A;
  color: #F2F2F2;
  padding: 25px 0px 25px 0px;
  margin-bottom: 30px;
}

.keep-up h4{
text-align: center;
font-size: 20px;
margin-bottom: 3%;
}

.button-subscribe{
  background-color: #26A682;
  color: #F2F2F2;
  border-radius: 24px;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 20%;
  margin-left: 40%;
  margin-right: 30%;
}

.indoor-climbing, .competitive{
  background-color: #F2F2F2;
  padding: 30px 0px;
}

h5{
  font-size: 70px;
  text-align: center;
  margin: 0px 30px;
}

.students-association, .ac, .pcl, .cibc{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 60px;
  margin-bottom: 60px;
}


.footer{
  background-color: #333131;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 30px;
  padding-bottom: 30px;
}

.icon {
  grid-column: 2 / span 1;
  display: grid;
  grid-template-areas: "A A A A"
                       "B C D E";
  grid-template-columns: repeat(4, 40px);
  grid-row-gap: 1rem;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-items: center;
}

.follow{
  grid-area: A;
  grid-row: 1;
  color: #f7f7ff;
}

.facebook {
  grid-column: 1 / span 1;
  grid-row: 2;
}

.instagram {
  grid-column: 2 / span 1;
  grid-row: 2;
}

.twitter {
  grid-column: 3 / span 1;
  grid-row: 2;
}

.youtube{
  grid-column: 4 / span 1;
  grid-row: 2;
}

.viewbox{
  grid-column: 3 / span 1;
  display: grid;
  grid-template-rows: 40px 40px;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-items: center;

}

.top{
  grid-row: 1;
  width: 70%;
  height: 70%;
  margin-top: 40px;
}

.backtop{
  line-height: 5px;
  grid-row: 2;
  color: #f7f7ff;
  white-space: nowrap;
  margin: 0%;
  margin-top: 10px;
  font-size: 14px;
}

/***********************************************************
                        Mobile 
 **********************************************************/

/* use @media to apply the following code to the rest of the code */
/* when the screen size is less than 599px wide, set all of items that include main braces */
@media only screen and (max-width: 599px) {

  .mobile-logo{
    max-width: 100px;   
  }
  
  .logobackground{
    background-color: #333131;
    text-align: center;  
  }

  .desktop-logo{
    display: none;
  }

  .tablet-logo{
    display: none;
  }

  .nav-list{
    background:#333131;
    text-align: center;
    height: 73px;
}

  .nav-list li:last-child{
    padding-bottom: 30px;
  }

  .contact{
    padding-bottom: 20px;
  }
  
  .footer{
    background-color: #333131;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .icon {
    grid-column: 2 / span 1;
    display: grid;
    grid-template-areas: "A A A A"
                         "B C D E";
    grid-template-columns: repeat(4, 40px);
    grid-row-gap: 1rem;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-items: center;
  }
  
  .follow{
    grid-area: A;
    grid-row: 1;
    color: #f7f7ff;
  }
  
  .facebook {
    grid-column: 1 / span 1;
    grid-row: 2;
  }
  
  .instagram {
    grid-column: 2 / span 1;
    grid-row: 2;
  }
  
  .twitter {
    grid-column: 3 / span 1;
    grid-row: 2;
  }
  
  .youtube{
    grid-column: 4 / span 1;
    grid-row: 2;
  }
  
  .viewbox{
    grid-column: 3 / span 1;
    display: grid;
    grid-template-rows: 40px 40px;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-items: center;
  
  }
  
  .top{
    grid-row: 1;
    width: 70%;
    height: 70%;
    margin-top: 40px;
  }
  
  .backtop{
    line-height: 5px;
    grid-row: 2;
    color: #f7f7ff;
    white-space: nowrap;
    margin: 0%;
    margin-top: 10px;
    font-size: 14px;
  }

}


/*****************************************
                    Tablet
*****************************************/

/* when the screen size is betweeen 600pc and 780px, set all of items that include main braces */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  html {
    font-size: 16px;
  }

  .mobile-logo, .desktop-logo {
    display: none;
  }

  .tablet-logo{
    text-decoration: none;
    display: inline-block;
    height: 70px;
    width: 70px;
    margin-left: 40px;
    
  }

  .rapper{
    margin: 50px 60px;
  }

  .rapper h1{
    font-size: 60px;
    line-height: 70px;
  }

  .rapper p{
    line-height: 23px;
    margin-bottom: 20px;
  }
  
  .rapper{
    margin-bottom: 25px;
  }
}