html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  font-family: 'Raleway';
  color: #3C3B3A;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  background: white;
  margin: 0px;
}

main {
  padding: 0px;
  background: white;
}

.keep-up h4 {
  color: #F2F2F2;
}

ul li {
  width: 100%;
  line-height: 200%;
  float: left;
}

ul li a {
  background-color: #333131;
  color: #f7f7ff;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  white-space: nowrap;
}

ul li a:hover {
  background-color: #333131;
  color: #f7f7ff;
  font-weight: bold;
}

.container {
  margin: 0 auto;
  padding: 0em;
}

.container1 {
  margin: 0 auto;
  padding: 0em;
}

/* header */
.logobackground {
  float: left;
}

.nav-list {
  display: grid;
  grid-template-areas: "home about contact";
  grid-template-columns: repeat(3, 90px);
  grid-template-rows: repeat(1, 70px);
  justify-content: right;
  justify-items: center;
  margin-right: 5%;
}

.home {
  grid-area: home;
  grid-row: 1;
  font-size: 16px;
  font-family: 'Raleway';
}

.about {
  grid-area: about;
  grid-row: 1;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Raleway';
}

.contact {
  grid-area: contact;
  grid-row: 1;
  font-size: 16px;
  font-family: 'Raleway';
}

.nav-list li {
  border: none;
  align-self: center;
  margin: 10px;
}

header.main-nav {
  background: #333131;
}

.rapper h1 {
  font-size: 30px;
  margin: 30px;
}

p {
  font-size: 18px;
  margin: 20px 30px;
  line-height: 35px;
}

.masthead {
  background: #333131;
}

.container {
  margin: 0px;
}

.construction {
  margin: auto;
  width: 100%;
}

.intro1 {
  background: url(../images/about.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 300px;
  margin: 30px 0%;
}

.rapper1 {
  background-color: rgba(38, 166, 130, 0.5);
  ;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.rapper1 h2, .rapper2 h2 {
  text-align: center;
  color: #f7f7ff;
  opacity: 1;
  font-size: 50px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

.info {
  margin: 0px 30px;
}

.Services {
  background: url(../images/services.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 300px;
  margin: 30px 0%;
}

.rapper2 {
  background-color: rgba(38, 166, 130, 0.5);
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Services h1 {
  text-align: center;
  color: #f7f7ff;
  opacity: 1;
  font-size: 50px;
  font-weight: bold;
}

.bar,
.bowling,
.fitness,
.climbing {
  display: none;
}

h2,
h3 {
  margin: 0px 30px;
}

h3 {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 0px;
  color: #26A682;
}

.keep-up {
  background-color: #3C3B3A;
  color: #F2F2F2;
  padding: 25px 0px 25px 0px;
  margin-bottom: 30px;
}

.keep-up h4 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 3%;
}

.button-subscribe {
  background-color: #26A682;
  color: #F2F2F2;
  border-radius: 50px;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 20%;
  margin-left: 40%;
  margin-right: 30%;
}

.indoor-climbing,
.competitive {
  background-color: #F2F2F2;
  padding: 30px 0px;
}

h5 {
  font-size: 70px;
  text-align: center;
  margin: 0px 30px;
  font-weight: bold;
}

.students-association,
.ac,
.pcl,
.cibc {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 60px;
  margin-bottom: 60px;
}

.footer {
  background-color: #333131;
  display: grid;
  grid-template-areas: "none icon viewbox";
  grid-template-columns: repeat(3, 1fr);
  padding-top: 2%;
  padding-bottom: 2%;

}

.icon {
  grid-area: icon;
  grid-row: 1;
  display: grid;
  grid-template-areas: "follow follow follow follow"
                       "facebook instagram twitter youtube";
  grid-template-columns: repeat(4, 30px);
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-items: center;
  column-gap: 5px;
}

.follow {
  grid-area: follow;
  grid-row: 1;
  color: #f7f7ff;
  font-size: 18px;
  white-space: nowrap;
}

.facebook {
  grid-area: facebook;
  grid-row: 2;
  height: 25.11px;
}

.instagram {
  grid-area: instagram;
  grid-row: 2;
  height: 25.11px;
}

.twitter {
  grid-area: twitter;
  grid-row: 2;
  height: 25.11px;
}

.youtube {
  grid-area: youtube;
  grid-row: 2;
  height: 21.53px;
  width: 30.61px;
}

.viewbox {
  grid-area: viewbox;
  grid-row: 1;
  display: grid;
  grid-template-rows: 40px 40px;
  justify-content: right;
  align-items: center;
  justify-items: center;
}

.top {
  grid-row: 1;
  height: 15px;
  margin: 30px 5px 0px;
}

.backtop {
  line-height: 5px;
  grid-row: 2;
  color: #f7f7ff;
  white-space: nowrap;
  margin: 0%;
  margin-bottom: 20px;
  font-size: 7px;
  text-decoration: none;
}

/* Add animation for buttons */
.button-subscribe:hover {
  background-color: #7ED9BF
}

.button-subscribe:active {
  background-color: #7D70BA;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Add animation for top buttons */
.top {
  position: relative;
  animation-name: scroll-up;
  animation: scroll-up 2s infinite;
}

@keyframes scroll-up {
  0% {
    left: 0px;
    top: 0px;
    opacity: 1;
  }

  100% {
    left: 0;
    top: -30px;
    opacity: 0;
  }
}

/* when you move your mouse on the social media icons they became out, and they became bigger */
.instagram,
.twitter,
.youtube,
.facebook {
  transition: all .2s ease-in-out;
}

.instagram:hover,
.twitter:hover,
.youtube:hover,
.facebook:hover {
  transform: scale(1.2);
}

/* add pulse to these buttons when the user hover the buttons*/
.students-association:hover,
.ac:hover,
.pcl:hover,
.cibc:hover {
  box-shadow: 0 0 0 0 rgba(51, 49, 49, 1);
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.7);
    box-shadow: 0 0 0 0 rgba(51, 49, 49, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(51, 49, 49, 0);
  }

  100% {
    transform: scale(0.7);
    box-shadow: 0 0 0 0 rgba(51, 49, 49, 0);
  }
}

/***********************************************************
                        Mobile 
 **********************************************************/

/* use @media to apply the following code to the rest of the code */
/* when the screen size is less than 599px wide, set all of items that include main braces */
@media only screen and (max-width: 599px) {

  .text h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 47px;
  }

  .text p {
    font-size: 20px;
    line-height: 35px;
  }

  .rapper h1 {
    margin: 36.5px;
    line-height: 47px;
  }

  p {
    margin: 20px 36.5px;
    margin-top: 10px;
  }

  .intro1 {
    height: 200px;
  }

  .rapper1 {
    height: 200px;
  }

  .information h2 {
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
    margin: 0px 0px 10px 0px;
  }

  .information p {
    font-size: 16px;
    line-height: 35px;
    margin: 0px 6.5px 10px 6.5px;
  }

  .Services {
    height: 200px;
  }

  .rapper2 {
    height: 200px;
  }

  h2 {
    font-size: 32px;
    font-weight: bold;
  }

  /* the margin here is less check it */
  .competitive h2 {
    margin-right: 10px;
  }

  h2,
  h3 {
    margin: 0px 36.5px;

  }

  h3 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #26A682;
  }

  p {
    font-size: 15px;
    line-height: 35px;
  }

  .keep-up h4 {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin: 34.5px;
  }

  .button-subscribe {
    width: 140px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
  }

  h5 {
    font-size: 56px;
    line-height: 66px;
    margin: 36.5px 36.5px;
  }

  .students-association,
  .ac,
  .pcl,
  .cibc {
    width: 301px;
  }

  .construction {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  }

  .mobile-logo {
    display: inline-flex;
    max-width: 100px;
    justify-content: center;
    justify-items: center;
  }

  .logobackground {
    background-color: #333131;
    text-align: center;
  }

  .tablet-logo,
  .desktop-logo {
    display: none;
  }

  .main-nav {
    display: grid;
  }

  .nav-list {
    display: grid;
    grid-template-areas: "home"
                         "about"
                         "contact";
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 40px);
    justify-content: center;
    justify-items: center;
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .home {
    grid-area: home;
    grid-row: 1;
  }

  .about {
    grid-area: about;
    grid-row: 2;
  }

  .contact {
    grid-area: contact;
    grid-row: 3;
  }

  .follow {
    margin: 10px 0px;
    font-family: 'Raleway';
  }

  .top {
    height: 22.23px;
  }

  .backtop {
    margin-top: 10px;
    font-size: 9px;
  }
}


/*****************************************
                    Tablet
*****************************************/

/* when the screen size is betweeen 600pc and 780px, set all of items that include main braces */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  html {
    font-size: 16px;
  }

  .nav-list {
    grid-template-columns: repeat(3, 75px);
    margin-right: 5%;
  }

  h2 {
    margin: 10px 5px;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
  }

  h3 {
    margin: 0px 5px;
    font-size: 32px;
  }

  h5 {
    font-size: 56px;
    font-weight: bold;
    margin: 60px 120px 0px 120px;
  }

  p {
    margin: 0px 5px;
    font-size: 18px;
    line-height: 35px;
  }

  .mobile-logo,
  .desktop-logo {
    display: none;
  }

  .tablet-logo {
    text-decoration: none;
    display: inline-block;
    height: 70px;
    width: 70px;
    margin-left: 80px;
  }

  .rapper {
    margin: 50px 60px;
    margin-bottom: 25px;
  }

  .rapper h1 {
    font-size: 72px;
    font-weight: bold;
    line-height: 85px;
  }

  .rapper p {
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 20px;
    margin: 0px 30px;
    margin-bottom: 30px;
  }

  .who,
  .what,
  .where {
    margin: 45px;
  }

  .intro1 {
    height: 200px;
  }

  .rapper1 {
    height: 200px;
  }

  .rapper1 h2, .rapper2 h2 {
    font-size: 56px;
  }

  .Services {
    height: 200px;
  }

  .rapper2 {
    height: 200px;
  }

  .break {
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin: 60px 85px;
    column-gap: 20px;
    object-fit: fill;
  }

  .bar {
    display: grid;
    object-fit: cover;
    object-position: -50px 0px;
    width: 100%;
    height: 100%;
  }

  .need {
    grid-column: 2;
  }

  .need h2 {
    font-style: normal;
    margin-bottom: 15px;
  }

  .need p {
    font-weight: 300;
    margin-top: 5px;
  }

  .competitive {
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 60px 85px;
    column-gap: 20px;
    object-fit: fill;
  }

  .bowling {
    display: grid;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  .friends {
    grid-column: 1;
    grid-row: 1;
  }

  .competitive h2 {
    font-style: normal;
    margin-bottom: 15px;
  }

  .competitive p {
    font-weight: 300;
    margin-top: 5px;
  }

  .keep-up {
    display: grid;
    padding: 10px 0px;
    justify-items: center;
  }

  h4.keep {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 500;
    margin-left: 80px;
    white-space: nowrap;
  }

  .button-subscribe {
    grid-column: 2;
    padding: 3px 40px;
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
    margin-right: 45px;
  }

  .newme {
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin: 60px 85px;
    column-gap: 20px;
    object-fit: fill;
  }

  .fitness {
    display: grid;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  .newyear {
    grid-column: 2;
  }

  .newme h2 {
    font-style: normal;
    margin-bottom: 15px;
  }

  .newme p {
    font-weight: 300;
    margin-top: 5px;
  }

  .indoor-climbing {
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 60px 85px;
    column-gap: 20px;
    object-fit: fill;
  }

  .climbing {
    display: grid;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  .indoor {
    grid-column: 1;
    grid-row: 1;
  }

  .indoor-climbing h2 {
    font-style: normal;
    margin-bottom: 15px;
  }

  .indoor-climbing p {
    font-weight: 300;
    margin-top: 5px;
  }

  .students-association {
    width: 53%;
  }

  .ac,
  .pcl {
    width: 25%;
  }

  .cibc {
    width: 18%;
    margin-bottom: 50px;
  }

  .follow {
    font-size: 24px;
    margin: 10px 0px;
    font-family: 'Raleway';
  }

  .top {
    height: 22.23px;
    margin-right: 15px;
  }

  .backtop {
    margin-top: 10px;
    font-size: 9px;
    margin-right: 5px;
  }
}

/***********************************************************
                    Desktop
**********************************************************/
/* when the screen size is more than 769px wide, set all of items that include main braces */
@media screen and (min-width: 769px) {

  .mobile-logo,
  .tablet-logo {
    display: none;
  }

  .desktop-logo {
    text-decoration: none;
    display: inline-block;
    height: 70px;
    width: 70px;
    margin-left: 150%;
  }

  .nav-list {
    height: 75px;
    margin-right: 5%;
  }

  .rapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5%;
  }

  .rapper h1 {
    font-size: 72px;
    font-weight: bold;
    color: #3C3B3A;
    margin: 80px 25px;
  }

  .rapper p {
    font-size: 24px;
    line-height: 35px;
  }

  .information h2 {
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
  }

  h2 {
    font-size: 40px;
    font-weight: bold;
  }

  h3 {
    font-size: 32px;
  }

  .need p {
    font-weight: 200;
  }

  .information {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 100px;
  }

  .rapper1 h2, .rapper2 h2 {
    font-size: 72px;
  }

  .bar,
  .bowling,
  .fitness,
  .climbing {
    display: none;
  }

  .break {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px;
  }

  .bar-desktop {
    background: url(../images/bar.jpg) no-repeat center;
    display: grid;
    background-size: cover;
    width: auto;
    height: auto;
  }

  .need {
    grid-column: 2;
  }

  .competitive {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px;
  }

  .bowling-desktop {
    background: url(../images/bowling.jpg) no-repeat center;
    display: grid;
    background-size: cover;
    width: auto;
    height: auto;
  }

  .friends {
    grid-column: 1;
    grid-row: 1;
  }

  .keep-up {
    display: grid;
    padding: 0px;
    margin: 0px;
    align-items: center;
    height: 100px;
  }

  .keep-up h4 {
    grid-row: 1;
    margin: 0px;
    margin-right: 20px;
    font-size: 40px;
    font-weight: 500;
    text-align: right;
  }

  .button-subscribe {
    grid-row: 1;
    padding: 3px 40px;
    margin: 0px;
    font-size: 27px;
    font-weight: bold;
    justify-items: left;
    height: 45px;
    width: 232px;
  }

  .newme {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px;
  }

  .fitness-desktop {
    background: url(../images/fitness.jpg) no-repeat center;
    display: grid;
    background-size: cover;
    width: auto;
    height: auto;
  }

  .newyear {
    grid-column: 2;
  }

  .indoor-climbing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px;
  }

  .climbing-desktop {
    background: url(../images/climbing.jpg) no-repeat center;
    display: grid;
    background-size: cover;
    width: auto;
    height: auto;
  }

  .indoor {
    grid-column: 1;
    grid-row: 1;
  }

  .second {
    display: grid;
    grid-template-areas: "special special special special"
                         "students ac pcl cibc";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 100px;
  }

  .special {
    grid-area: special;
    grid-row: 1;
    font-size: 72px;
    line-height: 85px;
  }

  .students-association {
    margin: auto;
    grid-area: students;
    grid-row: 2;
    grid-column: 1;
    display: block;
    width: 110%;
    margin: 0px auto;
    padding: 0px;
  }

  .ac {
    margin: auto;
    grid-area: ac;
    grid-row: 2;
    grid-column: 2;
    display: block;
    width: 55%;
    margin: 20px 0px 0px auto;
    padding: 0px;
  }

  .pcl {
    margin: auto;
    grid-area: pcl;
    grid-row: 2;
    grid-column: 3;
    display: block;
    width: 55%;
    margin: 20px 0px 0px auto;
    padding: 0px;
  }

  .cibc {
    margin: auto;
    grid-area: cibc;
    grid-row: 2;
    grid-column: 4;
    display: block;
    width: 38%;
    margin: 20px 0px 0px auto;
    padding: 0px;
  }

  .viewbox {
    margin-right: 20px;
  }

  .follow {
    font-size: 24px;
    margin: 10px 0px;
    font-family: "Raleway";
  }

  .top {
    height: 49.79px;
  }

  .backtop {
    margin-top: 50px;
    font-size: 16px;
    font-family: "Raleway";
  }
}