html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed, 
figure,
figcaption,
footer,
header,
hgroup, 
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure, 
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ********************************************************************************* */
/* ********************************************************************************* */

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
body {
    background:white;
    margin: 0px;
    }

main{
    padding: 0px;
    background: white;
    }


/***********************************************************
                        Mobile 
 **********************************************************/

ul li{
    width: 100%;
    line-height:200%;
    float: left;
  }

ul li a{
    background-color:  #333131;
    color: #f7f7ff;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display:        flex;
    flex-grow:      1;
    flex-shrink:    1;
    justify-content: center;
    white-space: nowrap;
  }

  ul li a:hover {
    background-color: #333131;
    color: #f7f7ff;
    font-weight: bold;
  }
  .container {
    margin: 0 auto;
    padding: 0em;
  }
  
  .container1 {
    margin: 0 auto;
    padding: 0em;
  }
  
  
  /* header */
  .mobile-logo{
    max-width: 100px;
    align-items: center;
    background-color: #333131;
   
  }
  
  .desktop-logo{
    display: none;
  }

  .tablet-logo{
    display: none;
  }


  .nav-list{
    background:#333131;
    text-align: center;
}
.logobackground{
    background-color: #333131;
}

.contact{
    padding-bottom: 20px;
}

.nav-list li:last-child{
    padding-bottom: 30px;
    
}

header.main-nav{
    background:#333131;
}

.rapper h1{
font-size: 30px;
margin: 30px;
}

p{
  font-size: 18px;
  margin: 20px 30px;
  line-height: 32px;
}


.masthead{
    background:#333131;
}

.container{
    margin: 0px;
}

.construction{
  margin: auto;
  width: 100%;
}

/* .about{
  background-color: lightblue;
  object-fit: cover;
  width: 100%;
  height: 300px;
  margin: 30px 0%;
  }

.about-text{
  display: block;
  background-color: lightblue;
} */

.intro1{
  background: url(../images/about.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 300px;
  margin: 30px 0%;

  }
  .rapper1{
    background-color: rgba(14, 138, 45, 0.582);
    width: 100%;
    height: 300px;
    }

.intro1 h1{
  text-align: center;
  color: #f7f7ff;
  vertical-align: baseline;
  padding-top: 150px;
  opacity: 1;
  }

h2{
  font-size: 30px;
  margin-bottom: 15px;
}

.info{
  margin: 0px 30px;
}

/* .info h2{
  margin: 0px 30px;
} */

.Services{
  background: url(../images/services.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 300px;
  margin: 30px 0%;

  }
  .rapper2{
    background-color: rgba(14, 138, 45, 0.582);
    width: 100%;
    height: 300px;
    }

.Services h1{
  text-align: center;
  color: #f7f7ff;
  vertical-align: baseline;
  padding-top: 150px;
  opacity: 1;
  }

.bar, .fitness, .climbing {
  display: none;
}

h2, h3{
  margin: 0px 30px;
  
}

h3{
  font-size: 22px;
}

h3{
  margin-top: 20px;
  margin-bottom: 0px;
  color: #26A682;
}

.keep-up{
  background-color: #3C3B3A;
  color: #F2F2F2;
  padding: 25px 0px 25px 0px;
  margin-bottom: 30px;
}

.keep-up h4{
text-align: center;
font-size: 20px;
margin-bottom: 3%;
}

.button-subscribe{
  background-color: #26A682;
  color: #F2F2F2;
  border-radius: 24px;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 20%;
  margin-left: 40%;
  margin-right: 30%;
}

.indoor-climbing, .competitive{
  background-color: #F2F2F2;
  padding: 30px 0px;
}

h5{
  font-size: 70px;
  text-align: center;
  margin: 0px 30px;
}

.students-association, .ac, .pcl, .cibc{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 60px;
  margin-bottom: 60px;
}

footer{
  background-color: #333131;
}

footer h3 {
  padding: 30px 0px 0px 0px;
  color: #f7f7ff;
  text-align: center;
}
.icon{
  text-align: center;
}

.viewbox{
  text-align: right;
  padding-bottom: 20px;
}
svg{
  margin: 0px 5px;
}

.viewbox p{
  line-height: 5px;
}


