html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed, 
figure,
figcaption,
footer,
header,
hgroup, 
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure, 
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.rapper h1{
  font-size: 30px;
  margin: 30px 0px;
}

/* ********************************************************************************* */
/* ********************************************************************************* */

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
body {
    background:white;
    margin: 0px;
    }

main{
    padding: 0px;
    background: white;
    }
  
    footer{
      background-color: #333131;
      margin-top: 70px;
    }
    
    .icon{
      text-align: center;
    }
    
    .viewbox{
      text-align: right;
    }
    
    .viewbox p{
      line-height: 5px;
    }
    
    .rapper{
      padding: 0px 30px;
    }

    /* header */

  .mobile-logo, .tablet-logo {
    display: none;
  }

  .desktop-logo{
    text-decoration: none;
    display: inline-block;
    height: 70px;
    width: 70px;
    margin-left: 40px;
  }

  .logobackground{
    float: left;
  }

   /* Navigation */
   .nav-list {
    display: grid;
    grid-template-areas: "B C D";
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(1, 70px);
    justify-content: right;
    justify-items: center;
    margin-right: 30px;  
  }

  .home{
    grid-area: B;
    grid-row: 1;
  }

  .about{
    grid-area: C;
    grid-row: 1;
  }

  .contact{
    grid-area: D;
    grid-row: 1;
  }

  .nav-list li {
    border: none;
    align-self: center;
    margin: 10px;
  }
  
.footer{
  background-color: #333131;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 2%;
  padding-bottom: 2%;

}

.icon {
  grid-column: 2 / span 1;
  display: grid;
  grid-template-areas: "A A A A"
                       "B C D E";
  grid-template-columns: repeat(4, 30px);
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-items: center;
}

.follow{
  grid-area: A;
  grid-row: 1;
  color: #f7f7ff;
  font-size: 18px;
  white-space: nowrap;
}

.facebook {
  grid-column: 1 / span 1;
  grid-row: 2;
  height: 20px;
}

.instagram {
  grid-column: 2 / span 1;
  grid-row: 2;
  height: 20px;
}

.twitter {
  grid-column: 3 / span 1;
  grid-row: 2;
  height: 20px;
}

.youtube{
  grid-column: 4 / span 1;
  grid-row: 2;
  height: 18px;
}

.viewbox{
  grid-column: 3 / span 1;
  display: grid;
  grid-template-rows: 40px 40px;
  justify-content: right;
  align-items: center;
  justify-items: center;
}

.top{
  grid-row: 1;
  height: 15px;
  margin: 30px 5px 0px;
}

.backtop{
  line-height: 5px;
  grid-row: 2;
  color: #f7f7ff;
  white-space: nowrap;
  margin: 0%;
  margin-bottom: 20px;
  font-size: 7px;
}


/***********************************************************
                        Mobile 
 **********************************************************/

/* use @media to apply the following code to the rest of the code */
/* when the screen size is less than 599px wide, set all of items that include main braces */
@media only screen and (max-width: 599px) {

  .mobile-logo{
    display: inline-flex;
    max-width: 100px;  
    justify-content: center;
    justify-items: center; 
  }
  
  .logobackground{
    background-color: #333131;
    text-align: center;  
  }

  .tablet-logo, .desktop-logo {
    display: none;
  }

  .main-nav{
    display: grid;
  }

  .nav-list {
    display: grid;
    grid-template-areas: "B" 
                         "C" 
                         "D";
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 30px);
    justify-content: center;
    justify-items: center;
    margin-right: 0px;
  }

  .home{
    grid-area: B;
    grid-row: 1;
  }

  .about{
    grid-area: C;
    grid-row: 2;
  }

  .contact{
    grid-area: D;
    grid-row: 3;
  }

  ul li{
    width: 100%;
    line-height:200%;
    float: left;
  }

  .icons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    column-gap: 25px;
    row-gap: 25px;
    justify-items: center;
  }
  .section-black p{
    color: #f7f7ff;
    font-size: 18px;
    margin: 20px 0px;
    line-height: 32px;
  }
}

ul li a{
    background-color:  #333131;
    color: #f7f7ff;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display:        flex;
    flex-grow:      1;
    flex-shrink:    1;
    justify-content: center;
    white-space: nowrap;
  }

  ul li a:hover {
    background-color: #333131;
    color: #f7f7ff;
    font-weight: bold;
  }
  .container {
    margin: 0 auto;
    padding: 0em;
  }
  
  .container1 {
    margin: 0 auto;
    padding: 0em;
  }
  
  
header.main-nav{
    background:#333131;
}

.masthead{
    background:#333131;
}

.container{
    margin: 0px;
}

p{
    font-size: 18px;
    margin: 20px 0px;
    line-height: 32px;
}

.button-get {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    background-color: #26A682;
    width: auto;
    border-radius: 40px;
    padding: 10px;
    border: 0px;
    font-size: 20px;
    font-weight: bold;
    color: #f7f7ff;
    margin: 20px;
    text-decoration: none;
    box-shadow: 0px 10px 10px 2px gray;
}

.discover{
    background-color: white;
    width: 100%;
    margin:20px 0px;
}
.scrollview{
  display: none;
}

.graduate{
    background: url(../images/school.jpg) no-repeat center;
    background-size: cover;
    height: 400px;
    padding-left: 0em;
    padding-right: 0em;
    margin: 0%;
    }

h2{
  font-size: 30px;
  font-style: italic;
  margin: 30px 0px 20px 0px;
}

h3{
  font-size: 18px;
  margin:10px 0px;
  color:  #26A682;
}
.section-white {
  padding: 0px 30px;
}
.button-learn {
  float: right;
  background-color: #26A682;
  width: auto;
  border-radius: 40px;
  padding: 10px;
  border: 0px;
  font-size: 20px;
  font-weight: bold;
  color: #f7f7ff;
  margin: 20px 0px 20px 20px;
  text-decoration: none;
  box-shadow: 0px 10px 10px 2px grey;
  margin-bottom: 20px;
}

/* .container:not(.graduate){
    margin: 0 auto;
    padding: 0em;
} */


.section-black{
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #333131;
  margin: 0px;
  margin-top: 110px;
  padding-left: 30px;
  padding-right: 30px;
}

.woman{
  border-radius: 300px;
  width: 40%;
  border: #f7f7ff solid 4px;
  display: block;
  margin-left: auto;
  margin-right: auto

}

.section-black h3{
  color: #f7f7ff;
  text-align: center;
}

.section-black p{
  color: #f7f7ff;
  font-size: 18px;
  line-height: 32px;
}

.drinking{
  background: url(../images/entertainment.jpg) no-repeat center;
  background-size: cover;
  height: 250px;
  padding-left: 0em;
  padding-right: 0em;
  }

.discover1{
  padding: 30px 30px;
  width: auto;
}

/*****************************************
                    Tablet
*****************************************/

/* when the screen size is betweeen 600pc and 780px, set all of items that include main braces */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  html {
    font-size: 16px;
  }

  .rapper{
    margin: 50px 60px;
    margin-bottom: 25px;
  }

  .rapper h1{
    font-size: 60px;
    line-height: 70px;
  }

  .rapper p{
    line-height: 23px;
    margin-bottom: 0px;
  }

  .icons{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: 25px 60px;
  }

  svg :not(.top){
    margin: 0px 30px 20px 30px;
  }

  .discover{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    
  }

  .scrollview{
    display: grid;
    justify-content: top;
    align-items: center;
    justify-items: center;
    margin:30px 0px;
  }
  
  .scroll{
    line-height: 5px;
    grid-row: 1;
    white-space: nowrap;
    margin: 0%;
    margin-bottom: 4px;
    font-size: 12px;
  }
  
  .scrolldown{
    height: 18px;
    transform: rotate(180deg);
    text-align: center;
  }
  
  .mobile-logo, .desktop-logo {
    display: none;
  }

  .tablet-logo{
    text-decoration: none;
    display: inline-block;
    height: 70px;
    width: 70px;
    margin-left: 40px;
  }


.section-black{
  display: grid;
  flex-direction: column;
  grid-template-areas: "A C C"
                       "B C C";
}
.woman{
  grid-area: A;
  width: 70%;
    height: auto;
    margin-right: 40px;
}

.dijanelle{
  grid-area: B;
  margin-top: -20px;
  font-size: 18px;
  line-height: 28px;
  margin-right: 20px;
  margin-top: 20px;
}

.only{
  grid-area: C;
  margin: 0px;
  margin-right: 30px;
}

.discover1 h3{
  color: #26A682;
}

.button-learn {
  float: right;
  background-color: #26A682;
  width: auto;
  border-radius: 40px;
  padding: 10px 30px;
  border: 0px;
  font-size: 20px;
  font-weight: bold;
  color: #f7f7ff;
  margin: 20px 0px 20px 20px;
  text-decoration: none;
  box-shadow: 0px 10px 10px 2px grey;
  margin-bottom: 20px;
}

.button-get {
  background-color: #26A682;
  color: #F2F2F2;
  border-radius: 24px;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 20%;
  margin-left: 40%;
  margin-right: 30%;
}

.graduate{
  background: url(../images/school.jpg) no-repeat center;
  background-size: cover;
  height: 140px;
  background-position: 0% 67%;
  }
}

/***********************************************************
                    Desktop
**********************************************************/
/* when the screen size is more than 769px wide, set all of items that include main braces */
@media screen and (min-width: 769px) {

  h2{
    margin: 0px;
  }

  p{
    font-size: 14px;
    margin-bottom: 0px;
  }

  .flex-box{
    display: flex;
    flex-wrap: nowrap;
    padding: 50px;
    width: 90%;
  }

  .rapper{
    padding: 0px;
  }

  .icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 25px;
    justify-items: center;
    margin: 50px 0px 20px;
  }

  .button-get{
    margin: 20px 0px;
    padding: 10px 50px;
    float: left;
    font-size: 25px;
  }

  .graduate-desktop{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f2f2f2;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .graduate{
    background: url(../images/school.jpg) no-repeat center;
    display: grid;
    background-size: cover;
    width: 550px;
    height: auto;
    margin-left: 60px;
  }

  .button-learn{
    margin: 0px;
    padding: 5px 30px;
    font-size: 20px;
  }

  .section-white{
    grid-column: 2;
    margin: 0px 5px;
    margin-right: 60px;
  }

  .section-black{
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    justify-items: center;
  }
  
  .woman{
    margin: 0px;
    width: 60%;
  }

  .dijanelle{
    margin: auto;
    white-space: nowrap;
    line-height: 30px;
  }

  .drinking-desktop{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 50px;
  }

  .discover1{
    margin-left: 70px;
    margin-right: 20px;
    padding: 0px;
    grid-column: 1;
  }

  .drinking{
    background: url(../images/entertainment.jpg) no-repeat center;
    grid-column: 2;
    grid-row: 1;
    background-size: cover;
    width: 550px;
    height: auto;
  }



}



