html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ********************************************************************************* */

/*Use following fonts if Raleway isn't availble*/
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  scroll-behavior: smooth;
}


* {
  font-family: 'Raleway';
  color: var(--primary-color)
}

body {
  background: white;
  margin: 0px;
  line-height: 1;
}

/* use custom properties, can be used to store value to be referenced later, here I use for colors and font */
:root {
    --primary-color: #1E2832;
    --secondary-color: #83C04B;
    --font: 'Raleway'
}
ol,
ul {
  list-style: none;
  text-decoration: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.nav-list a{
    text-decoration: none;
}

.rapper h1 {
  margin: 30px 0px;
  font-size: 72px;
  font-weight: bold;
  color: #3C3B3A;
}

main {
  padding: 0px;
  background: white;
}

#text {
  height: 100px;
  width: -webkit-fill-available;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: top;
  font-size: 16px;
}

.number-email{
  display: grid;
  grid-template-areas: "phone number"
                       "post email";
  grid-template-columns: repeat(2fr, 4fr);
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-items: center;
  column-gap: 10px;
}
.phone{
  grid-row: 1;
  grid-column: 1;
  width: 22px;
}

.number{
  grid-row: 1;
  grid-column: 2;
}

.post{
  grid-row: 2;
  grid-column: 1;
  width: 22px;
}

.email{
  grid-row: 2;
  grid-column: 2;
  text-decoration: none;
}

.resume a {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: bold;
}

.github{
  width: 100px;
  display: block;
  margin: 30px auto;
}

.footer {
  background-color:var(--primary-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 10px;
  padding-bottom: 25px;
}

.icon {
  grid-column: 2 / span 1;
  display: grid;
  grid-template-areas: "follow follow follow follow"
    "facebook instagram twitter youtube";
  grid-template-columns: repeat(4, 30px);
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-items: center;
  column-gap: 5px;
  row-gap: 15px;
}

.follow {
  grid-area: follow;
  grid-row: 1;
  color: #f7f7ff;
  font-size: 18px;
  white-space: nowrap;
  line-height: 35px;
  text-align: center;
}

.facebook {
  grid-area: facebook;
  grid-row: 2;
  height: 25.11px;
}

.instagram {
  grid-area: instagram;
  grid-row: 2;
  height: 25.11px;
}

.linkedin {
  grid-area: twitter;
  grid-row: 2;
  height: 25.11px;
}

.youtube {
  grid-area: youtube;
  grid-row: 2;
  height: 21.53px;
  width: 30.61px;
}

.viewbox {
  grid-column: 3 / span 1;
  display: grid;
  grid-template-rows: 40px 40px;
  justify-content: right;
  align-items: center;
  justify-items: center;
}

.top {
  grid-row: 1;
  height: 22.23px;
  margin: 140px 10px 10px;
}

.backtop {
  line-height: 5px;
  grid-row: 2;
  color:white;
  white-space: nowrap;
  margin: 0%;
  margin-top: 90px;
  font-size: 9px;
  text-decoration: none;
}

.main-image {
    background: url(../images/main-image.jpg) no-repeat center;
    background-size: cover;
    height: 400px;
    padding-left: 0em;
    padding-right: 0em;
    margin: 0%;
  }
/***********************************************************
                        Mobile 
 **********************************************************/
/* use @media to apply the following code to the rest of the code */
/* when the screen size is less than 599px wide, set all of items that include main braces */
@media only screen and (max-width: 599px) {
    .tablet-logo,
    .desktop-logo {
        display: none;
    }

    .mobile-logo {
        height: 60px;
        width: 60px;
        margin-top: 20px;
    }

    .rapper {
        padding: 0px 36.5px;
      }
    
      .rapper h1 {
        font-size: 40px;
        line-height: 47px;
        margin: 36.5px 0px;
      }
    
      .rapper p {
        font-size: 16px;
        line-height: 35px;
      }
    
      .logobackground {
        text-align: center;
      }

    .main-nav {
        display: grid;
      }

    /* use grid to change the position of items: home, about and contact on mobile size*/
  .nav-list {
    display: grid;
    grid-template-areas: "home"
      "about"
      "contact";
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 40px);
    justify-content: center;
    justify-items: center;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .home {
    grid-area: home;
    grid-row: 1;
    font-size: 16px;
    font-family: 'Raleway';
  }

  .about {
    grid-area: about;
    grid-row: 2;
    font-size: 16px;
    font-family: 'Raleway';
  }

  .portfolio {
    grid-area: contact;
    grid-row: 3;
    font-size: 16px;
    font-family: 'Raleway';
  }

  .contact {
    grid-area: contact;
    grid-row: 4;
    font-size: 18px;
    font-family: 'Raleway';
    font-weight: bold;
    color: #83C04B;
  }

  .contact-follow h2 {
    font-size: 20px;
    font-weight: bold;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding:15px;
  }

  .send-msg {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
    width: 140px;
    display: flex;
    justify-content: center;
    margin-left: 4%;
    margin-top: 20px;
  }

  #fname, #email, #text {
    font-size: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    
  }

  .add-info {
    margin: 60px auto;
  }

  #fname {
    margin-bottom: 20px;
  }

  .number-email p, .number-email a{
    font-size: 22px;
    text-align: center;
    line-height: 50px;
  }

  hr {
    width: 250px
  }

  .resume p {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
  }

  .github{
    width: 100px;
    display: block;
    margin: 30px auto;
  }

}



/*****************************************
                    Tablet
*****************************************/
/* when the screen size is betweeen 600pc and 780px, set all of items that include main braces */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    html {
      font-size: 16px;
    }

    .mobile-logo,
    .desktop-logo {
      display: none;
    }

    .tablet-logo {
      width: 120px;
      float: left;
      margin-left: 5%;
    }

    /* use grid to change the position of items: home, about, portfolio and contact on mobile size*/
  .nav-list {
    display: grid;
    grid-template-areas: "home about portfolio contact";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 40px);
    justify-content: right;
    justify-items: center;
  }

  .home {
    grid-area: home;
    grid-column: 1;
    font-size: 16px;
    font-family: 'Raleway';
  }

  .about {
    grid-area: about;
    grid-column: 2;
    font-size: 16px;
    font-family: 'Raleway';
  }

  .portfolio {
    grid-area: portfolio;
    grid-column: 3;
    font-size: 16px;
    font-family: 'Raleway';
  }

  .contact {
    grid-area: contact;
    grid-column: 4;
    font-size: 18px;
    font-family: 'Raleway';
    font-weight: bold;
    color: #83C04B;
  }

  .nav-list {
    height: 75px;
    margin-right: 5%;
    padding-top: 40px;
  }

  .contact-follow h2{
    font-size: 40px;
    font-weight: bold;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 40px 0px;
  }
}





/***********************************************************
                    Desktop
**********************************************************/
/* when the screen size is more than 769px wide, set all of items that include main braces */
@media screen and (min-width: 769px) {

    /*dont show mobile and tablet logo on desktop*/
    .mobile-logo,
    .tablet-logo {
      display: none;
    }
}