/* html body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
} */

h1,
h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin-top: 0px;
}

#about h2{
  text-align: left;
}

#contact h2{
  text-align: left;
}

/* The text-justify Property 
  text-align: justify;
  text-justify: inter-word; */
/* word-spacing Property
  word-spacing: normal; */
p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

/* width: 100% it will also add in padding, border, margin
width: 100% = width + padding + margin */
nav#nav {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  padding: 0px;
  border: 5px solid #90B488;
  background-color: #90B488;
  color: #E1E1E1;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;

}

a{
  text-decoration: none;
}

nav#nav a{
  font-size: 15px;
  padding: 10px;
}

nav#nav a:hover {
  background-color: #495D63;
  color: #90B488;
}

/* unvisited link */
nav#nav a{
  color: #817D7E;
}
/* visited link */
nav#nav a:visited {
  color: #817D7E;
}
  
.main #home {
  padding: 50px;
  background-color:#495D63;
  text-align: left;
  }
#home h1{
  text-align: left;
  font-size: 40px;
}
section#about {
  padding: 50px 50px;
  background-color: #90B488;
  color: black;

}

section#contact {
  padding: 50px 50px;
  max-width: 1200px;
  margin: 0px auto;
  background-color: #495D63;
}
 
/* width: auto = width of containing block (i.e. the parent)
width: auto; is telling it to fit into the width of the parent */
form.contact-form {
  padding: 30px;
  background-color: #E1E1E1;
  width: 800px;
  margin: 0px auto;
  margin-top: 5em;
  width: auto;
}

section#home {
  font-family: Arial, Helvetica, sans-serif;

}

textarea, input.contact-form-input {
  margin: 10px 10px 10px -10px;
  width: 100%;
  height: 15px;
}
textarea.contact-form-input{
  height: 40px;
}
button{
  align-items: center;
  background-color:#495D63;
  font-size: 15px;
  padding: 10px;
  border: 1px solid black;
  color: #817D7E;
  margin-left: -10px;
}

.contact-form-label{
  font-size: 20px;
}

footer p{
  font-size: 10px;
  text-align: right;
  max-width: 1200px;
  width: 100%;
}